/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, canvas, header, nav,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
header, nav {
	display: block;
}
body {
	line-height: 1;
}


// start styling

body {
    background-image: linear-gradient(rgb(70, 68, 68), lightgray);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

header {
    z-index: 3;
    border-radius: 5px;
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: rgb(109, 108, 108);
    

    margin-bottom: 10px;
    margin-top: 10px;
}


header div{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
    border-radius: 5px;
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header button {
    padding-left: 10px;
    padding-right: 10px;
}

.instructions {
    position: absolute;
    text-align: center;
    left: -75%;
    width: 500px;
    color: black;
    background-color: rgb(189, 230, 255);
    font-family: fantasy;
    line-height: 1;
    font-size: 30px;
}

.how-to {
    position: relative;
}

.how-to:hover {
    background-color: rgb(109, 108, 108);
    color: lightgray;
    .instructions {
        display: block;
    }
}

.header-text, .how-to {
    line-height: 2;
}






#canvas {
    background-size: 1280px, 600px; 
    position: absolute;
    z-index: 1;
   
}

#scene {
    border-radius: 10px;
    box-shadow: 8px 8px 10px 8px darkgray;
  
   
}

.info {
    z-index: 1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-links {
    margin-top: 10px;
    margin-bottom: 4px;
    display: flex;
    // width: 5%; // increase when links added
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgb(165, 165, 168);
    justify-content: center;
    text-align: center;
    gap: 20px;   
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
}



a {
    text-decoration: none;
}

a:hover {
    border-radius: 10px;
    background-color: rgb(208, 213, 214);
}

#ghImg, #linked-in {
    border-radius: 5px;
    padding-top: 2px;
    height: 40px;
    width: 40px;
}

#male img{
    margin-top: 4px;
    width: 50px;
    height: 50px;
}

#female img{   
    margin-top: 3px;;
    margin-right: 2px;
    width: 90px;
    height: 55px;
}

#female, #male {
    // display: flex;
    width: 90px;
    height: 70px;
}


button {
    z-index: 3;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(109, 108, 108);
    background-color: lightgray;
    cursor: pointer;
    box-shadow: 0 3px #999;
  
}

button:hover {
    background-color:rgb(109, 108, 108);
    color: lightgray;

}

button:active {
    box-shadow: 0 1px;
    transform: translateY(3px)

}

#volume {
    width: 50px;
    height: 50px;
}

.wrapper {
    display: flex;
    justify-content: left;
    position: relative;
    
}


#char-select {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    left: -11%;
    top: 1%;
    
}

#chars {
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.none {
    display: none;
}

